/*
div {
    border: 4px solid black;
    margin-bottom: 4px;
}
*/

.demo-content {
    padding: 15px;
    background: #dbdfe5;
}

.bg-alt {
    background: #abb1b8;
}

.main-content {
    min-height: 230px;
}

.sidebar-content {
    min-height: 100px;
    margin-bottom: 30px;
}